@use '../../../styles/variables' as v;

.PlayerToFind-container {
  width: 75%;
  margin: auto;
  background: v.$color-bg-light;
  border-radius: v.$gutter/2;
  padding: v.$gutter;
  overflow-y: scroll;
  height: 50vh;

  @media (max-width: 767px) {
    width: 95%;
    padding: v.$gutter/5;
  }

  &::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
    border-radius: v.$gutter/2;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &::-webkit-scrollbar-track {
    background: v.$color-primary; /* color of the tracking area */
    border-radius: v.$gutter/2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: v.$color-bg-lightest; /* color of the scroll thumb */
    border-radius: 1rem; /* roundness of the scroll thumb */
  }

  &__card {
    width: 100%;
    margin: v.$gutter/2 auto;
    border-radius: v.$gutter/2;
    padding: v.$gutter/2;
    display: flex;
    flex: 1;
    margin: 0;

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
      flex-wrap: wrap;
    }

    &-div {
      flex: 1;
      background: v.$color-bg-darkest;
      padding: v.$gutter;
      border-radius: v.$gutter/2;
      margin: v.$gutter/5;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      @media (max-width: 767px) {
        width: 10%;
        padding: 0;
        flex-wrap: wrap;
        font-size: 0.7rem;
      }
    }

    &-div.player {
      @media (max-width: 767px) {
        height: 3rem;
        padding: 0 1.2rem;
        overflow: hidden;
      }
    }
  }
}

.near {
  background: rgb(197, 128, 0);
}
.good {
  background: green;
}
.win {
  background: green;
  font-weight: bold;
}

.PlayerToFind-container__card-div.jersey.arrow-up::after,
.PlayerToFind-container__card-div.age.arrow-up::after,
.PlayerToFind-container__card-div.height.arrow-up::after {
  content: '\A↑'; // Ajoutez '\A' avant '↑'
  font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(45deg);
}

.PlayerToFind-container__card-div.jersey.arrow-down::after,
.PlayerToFind-container__card-div.age.arrow-down::after,
.PlayerToFind-container__card-div.height.arrow-down::after {
  content: '\A↓'; // Ajoutez '\A' avant '↓'
  font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(-45deg);
}
