@use '../../../styles/variables' as v;

.PlayerToFind-container {
  width: 90%;
  margin: auto;
  background: v.$color-bg-light;
  border-radius: v.$gutter/2;
  padding: v.$gutter;
  overflow-y: scroll;
  height: 60vh;
  border: 0.3rem solid v.$color-primary;

  &__card {
    width: 100%;
    margin: v.$gutter/2 auto;
    border-radius: v.$gutter/2;
    padding: v.$gutter/2;
    display: flex;
    margin: 0;

    &-div {
      width: 12%;
      background: v.$color-bg-darkest;
      padding: v.$gutter * 2;
      border-radius: v.$gutter/2;
      margin: v.$gutter/5;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.near {
  background: rgb(197, 128, 0);
}
.good {
  background: green;
}
.win {
  background: green;
  border: 2px solid #fafafa;
}

.PlayerToFind-container__card-div.jersey.arrow-up::after,
.PlayerToFind-container__card-div.age.arrow-up::after,
.PlayerToFind-container__card-div.height.arrow-up::after {
  content: '\A↑'; // Ajoutez '\A' avant '↑'
  font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(45deg);
}

.PlayerToFind-container__card-div.jersey.arrow-down::after,
.PlayerToFind-container__card-div.age.arrow-down::after,
.PlayerToFind-container__card-div.height.arrow-down::after {
  content: '\A↓'; // Ajoutez '\A' avant '↓'
  font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(-45deg);
}
