@use '../../../styles/variables' as v;

.form {
  width: 90%;
  margin: v.$gutter auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // background: v.$color-bg-darkest;
  border-radius: v.$gutter/2;
  padding: v.$gutter * 2;
  line-height: v.$gutter * 2;

  &-input {
    width: 50%;
    margin: auto;
    padding-left: v.$gutter;
  }
  &-results {
    width: 50%;
    height: 10rem;
    overflow-y: scroll;
    margin: auto;
    list-style-type: none;
    z-index: 1;

    &-li {
      border: 1px solid v.$color-bg-darkest;
      background: v.$color;
      color: v.$color-bg-darkest;
      padding: v.$gutter/4;
      text-align: left;
      padding-left: v.$gutter;
    }
  }
}
