@use '../../../styles/variables' as v;

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: v.$color-primary;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  //!
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content > p {
  color: v.$color-bg-dark;
  font-weight: bold;
}

.modal-content > h2 {
  color: v.$color;
  margin-bottom: 2rem;
}
