@use '../../../styles/variables' as v;

/* Modal.css */
.modal-overlay-HTP {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-content-HTP {
  background: v.$color-primary;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 50vw;
  // height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in; // Transition pour l'opacité et la transformation

  &.open {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 767px) {
    width: 90%;
    padding: 2rem;
    font-size: 0.7rem;
  }
}

.modal-content-HTP > p {
  color: v.$color-bg-darkest;
  font-weight: bold;
}

.modal-content-HTP > h2 {
  color: v.$color;
  margin-bottom: 3rem;
}
